In [30]:
import pandas as pd

In [31]:
data = pd.read_csv("C:\\Users\\Jamie\Downloads\\Transit.csv")

In [32]:
data = data[data['Date_Time'].str.contains('2017')].sort_values(by=['Date_Time'])

In [33]:
center = (38.030602, -78.480897)

In [35]:
data = data[((data['Latitude'] - center[0])**2 + (data['Longitude'] - center[1])**2)**(.5) < .003]

In [37]:
data.tail()

,TransitID,Stop,Route,Date_Time,Count,FareCategory,PaymentType,Latitude,Longitude
554123,934444,11015 - East Water St at 3rd St SE,02,2017-12-31T14:16:00.000Z,1,24 Hour Full,Barcode-Time Based,38.029564,-78.480278
554124,934445,11015 - East Water St at 3rd St SE,02,2017-12-31T14:16:00.000Z,1,30 Day Full,Smart Media-Time Based,38.029564,-78.480278
554125,934446,11015 - East Water St at 3rd St SE,02,2017-12-31T14:16:00.000Z,1,30 Day Reduced,Smart Media-Time Based,38.029564,-78.480278
554126,934447,11015 - East Water St at 3rd St SE,02,2017-12-31T15:16:00.000Z,1,Youth Smart,Smart Media-Date Based,38.029587,-78.480301
554127,934448,11015 - East Water St at 3rd St SE,02,2017-12-31T16:46:00.000Z,1,24 Hour Full,Barcode-Time Based,38.029552,-78.480247