In [15]:
import time
from datetime import datetime

datetime.strptime('2017/01/15 05:00:00.000000 +00:00', '%Y/%m/%d %H:%M:%S.%f +00:00').timetuple()

time.struct_time(tm_year=2017, tm_mon=1, tm_mday=15, tm_hour=5, tm_min=0, tm_sec=0, tm_wday=6, tm_yday=15, tm_isdst=-1)

In [17]:
import pandas as pd

clients_path = '../data/wifi/01-01/Clients per day.csv'

df = pd.read_csv(clients_path)
df

                                  Time  # Clients
0    2017/01/01 05:00:00.000000 +00:00         93
1    2017/01/02 05:00:00.000000 +00:00         73
2    2017/01/03 05:00:00.000000 +00:00         87
3    2017/01/04 05:00:00.000000 +00:00         97
4    2017/01/05 05:00:00.000000 +00:00         92
5    2017/01/06 05:00:00.000000 +00:00         88
6    2017/01/07 05:00:00.000000 +00:00         39
7    2017/01/08 05:00:00.000000 +00:00         40
8    2017/01/09 05:00:00.000000 +00:00         74
9    2017/01/10 05:00:00.000000 +00:00         67
10   2017/01/11 05:00:00.000000 +00:00         88
11   2017/01/12 05:00:00.000000 +00:00        105
12   2017/01/13 05:00:00.000000 +00:00        150
13   2017/01/14 05:00:00.000000 +00:00         94
14   2017/01/15 05:00:00.000000 +00:00         74
15   2017/01/16 05:00:00.000000 +00:00         95
16   2017/01/17 05:00:00.000000 +00:00         83
17   2017/01/18 05:00:00.000000 +00:00        108
18   2017/01/19 05:00:00.000000 +00:00        104
19   2017/01/20 05:00:00.000000 +00:00        109
20   2017/01/21 05:00:00.000000 +00:00        122
21   2017/01/22 05:00:00.000000 +00:00         69
22   2017/01/23 05:00:00.000000 +00:00         55
23   2017/01/24 05:00:00.000000 +00:00         96
24   2017/01/25 05:00:00.000000 +00:00        135
25   2017/01/26 05:00:00.000000 +00:00        119
26   2017/01/27 05:00:00.000000 +00:00         97
27   2017/01/28 05:00:00.000000 +00:00         88
28   2017/01/29 05:00:00.000000 +00:00         61
29   2017/01/30 05:00:00.000000 +00:00         61
..                                 ...        ...
150  2017/05/31 05:00:00.000000 +00:00        141
151  2017/06/01 05:00:00.000000 +00:00        191
152  2017/06/02 05:00:00.000000 +00:00        275
153  2017/06/03 05:00:00.000000 +00:00        218
154  2017/06/04 05:00:00.000000 +00:00        130
155  2017/06/05 05:00:00.000000 +00:00        125
156  2017/06/06 05:00:00.000000 +00:00        244
157  2017/06/07 05:00:00.000000 +00:00        219
158  2017/06/08 05:00:00.000000 +00:00        212
159  2017/06/09 05:00:00.000000 +00:00        303
160  2017/06/10 05:00:00.000000 +00:00        157
161  2017/06/11 05:00:00.000000 +00:00         39
162  2017/06/12 05:00:00.000000 +00:00         73
163  2017/06/13 05:00:00.000000 +00:00         84
164  2017/06/14 05:00:00.000000 +00:00        201
165  2017/06/15 05:00:00.000000 +00:00        148
166  2017/06/16 05:00:00.000000 +00:00        156
167  2017/06/17 05:00:00.000000 +00:00        174
168  2017/06/18 05:00:00.000000 +00:00         93
169  2017/06/19 05:00:00.000000 +00:00        117
170  2017/06/20 05:00:00.000000 +00:00        198
171  2017/06/21 05:00:00.000000 +00:00        144
172  2017/06/22 05:00:00.000000 +00:00        123
173  2017/06/23 05:00:00.000000 +00:00        188
174  2017/06/24 05:00:00.000000 +00:00        179
175  2017/06/25 05:00:00.000000 +00:00        113
176  2017/06/26 05:00:00.000000 +00:00        117
177  2017/06/27 05:00:00.000000 +00:00        151
178  2017/06/28 05:00:00.000000 +00:00        155
179  2017/06/29 05:00:00.000000 +00:00        147

[180 rows x 2 columns]