In [42]:
import pandas as pd
from dateutil import parser
import numpy as np
import dateutil.parser

import glob
import os

def date_to_yearday(date):
    yourdate = dateutil.parser.parse(date).timetuple()
    return(yourdate.tm_yday)

ticket_path = os.path.join('..','data','parking_tickets','tickets_near_mall.csv')
data = pd.read_csv(ticket_path, low_memory=0)

In [44]:
data = data[['DateIssued', 'TimeIssued', 'DistMetric']]

In [45]:
data['DateIssued'] = data['DateIssued'].apply(date_to_yearday)

In [47]:
# if time is less than two, decrease day by one
# clump times together based on hour less than 2 goes to ten
data['TimeIssued'] = data['TimeIssued'].apply(lambda time: int(time[0:2]))

In [48]:
data.loc[data.TimeIssued < 2, 'DateIssued'] = data['DateIssued'] - 1

In [49]:
data['Count'] = 1

In [53]:
data['Chunk'] = data['TimeIssued'].apply(lambda x: int((x + 2) / 4))

In [54]:
data.head()

   DateIssued  TimeIssued  DistMetric  Count  Chunk
0           3          12    0.352185      1      3
1           3          13    0.430795      1      3
2           3           9    0.158640      1      2
3           3           9    0.158640      1      2
4           3          10    0.126352      1      3

In [56]:
pivot = pd.pivot_table(data, values = 'Count', index = 'DateIssued', columns = 'Chunk', aggfunc = np.sum)

In [60]:
pivot.to_csv('ticket_chunks.csv')